

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
  font-family: "poppins", sans-serif;
  background: #f8f6d7;
  color: #e9a361;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 30px;
}

#choices button {
  font-size: 1.5rem;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #e9a361;
  background: #fae7a8;
  color: #ffffff;
  transition: background 0.3s ease;
  min-width: 130px;
}

#choices button:hover {
  background: #f8e39d;
  color: #f6f2e3;
}

#result-container {
  text-align: center;
  margin-top: 30px;
}

#result-message {
  font-size: 2rem;
  margin: 20px 0;
  color: #e6cc75;
}

#play-again-btn {
  font-size: 1.2rem;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background: #f0d888;
  color: #e3f6f5;
  cursor: pointer;
  transition: background 0.3s ease;
}

#play-again-btn:hover {
  background: #e6cc75;
}
